.manage-container,
.css-bsph2u-MuiTableCell-root {
    font-family: "Poppins", "Noto Sans Lao", sans-serif !important;
    color: #2d3436;
}

.phoneType-M-Phone {
    margin-left: 0.5rem;
    background-color: #fff2d0;
    border-radius: 2rem;
    padding: 0.2em 1em;
    font-size: 0.75rem;
    color: #6e6e6e;
}

.phoneType-HSPA {
    margin-left: 0.5rem;
    background-color: #fcd9db;
    border-radius: 2rem;
    padding: 0.1em 1em;
    font-size: 0.75rem;
    color: #6e6e6e;
}

.phoneType-Postpaid {
    margin-left: 0.5rem;
    background-color: #f57f87;
    border-radius: 2rem;
    padding: 0.2em 1em;
    font-size: 0.75rem;
    color: #fff;
}

.phoneType-FTTH {
    margin-left: 0.5rem;
    background-color: #c3fabf;
    border-radius: 2rem;
    padding: 0.2em 1em;
    font-size: 0.75rem;
    color: #6e6e6e;
}

.type-ADSL {
    margin-left: 0.5rem;
    background-color: #f9f2eb;
    border-radius: 2rem;
    padding: 0.2em 1em;
    font-size: 0.75rem;
    color: #6e6e6e;
}

.manage-ft-text {
    font-size: 0.875rem;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    color: #71717a;
}

.text-p-add p {
    padding-bottom: 0.25rem;
}

.list-add {
    font-family: "Poppins", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.list-add td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.list-add tr:nth-child(even) {
    background-color: #f9faff;
}

.list-add tr:hover {
    background-color: #ddd;
}

.list-add th {
    text-align: left;
    background-color: #f3f4f6;
    color: #777;
    font-weight: bold !important;
    font-family: "Poppins", "Noto Sans Lao", sans-serif !important;
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 8px 16px;
}

.list-add td {
    font-family: "Poppins", "Noto Sans Lao", sans-serif !important;
    height: 40px;
    color: #2d3436;
}

.my-textadd fieldset {
    border-top-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.remen {
    border-radius: 50%;
    padding: 2.5px 10px;
    background: #f14d58;
    color: #fff;
    text-align: center;
    font: 14px "Poppins", sans-serif;
    margin-right: 0.4rem;
}

.remen-2 {
    border-radius: 50%;
    padding: 2.5px 8.5px;
    background: #f14d58;
    color: #fff;
    text-align: center;
    font: 14px "Poppins", sans-serif;
    margin-right: 0.4rem;
}

.box-upload {
    padding: 1rem;
    border: 2px dashed #ddd;
    border-radius: 10px;
}

.sub-package {
    font-family: "Poppins", "Noto Sans Lao", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.sub-package th {
    text-align: left;
    background-color: #f2f2f2 !important;
    color: #2d3436 !important;
    font-family: "Poppins", "Noto Sans Lao", sans-serif;
    font-size: 14px;
    border: 1px solid #ddd;
    padding: 8px 10px;
}

.sub-package td {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 8px 15px;
}

.sub-package th:nth-child(1) {
    text-align: left !important;
}

.sub-text {
    color: #777;
    padding-top: 0.4rem;
}

.sub-detail {
    font-family: "Poppins", "Noto Sans Lao", sans-serif !important;
    color: #2d3436 !important;
    font-size: 0.875rem !important;
    margin-left: 0.5rem !important;
    padding: 5px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
}

.list-phone {
    font-family: "Poppins", "Noto Sans Lao", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.list-phone th {
    text-align: left;
    background-color: #f3f4f6;
    color: #777;
    font-weight: bold !important;
    font: 14px "Noto Sans Lao", sans-serif;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px 16px;
}

.list-phone td {
    font-family: "Poppins", "Noto Sans Lao", sans-serif !important;
}

/* .list-phone td:nth-child(1),
.list-phone td:nth-child(8),
.list-phone td:nth-child(9) {
  border-bottom: none !important;
}

.list-phone td:nth-child(7) {
  border-bottom: 1px solid #ddd !important;
}

.css-bsph2u-MuiTableCell-root {
  border-bottom: none !important;
}

.css-1ce3qcx-MuiTableCell-root {
  border-bottom: 1px solid #ddd !important;
} */

.list-phone th:nth-child(1),
.list-phone th:nth-child(8),
.list-phone th:nth-child(9) {
    text-align: center;
}

.list-phone td:nth-child(2) {
    text-align: left !important;
}


.MuiPaginationItem-text {
    font-family: "Poppins", "Noto Sans Lao", sans-serif !important;

}

.input-search {
    margin-top: -15px !important;
    font-size: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.list-phone-special {
    background-color: white !important;
    border-radius: 7px !important;
    margin-top: 30px !important;
}

.Loading {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.loading-size {
    margin-top: 150px !important;
    height: 100vh !important;
}

.pagination {
    font-size: 15px !important;
}

.right {
    float: right !important;
}

.Add-newSpeciallist {
    padding: 10px !important;
}

.center-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-confirme {
    width: 80px !important;
    height: 80px !important;
}

.center-2 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.danger {
    color: #f14d58;
}

.Success {
    color: rgb(20, 164, 77) !important;
}

.f-15 {
    font-size: medium;
}

.f-20 {
    font-size: 20px !important;
}


.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.pdr-100 {
    padding-right: 100px !important;
}

.pdr-60 {
    padding-right: 105px !important;
}

.pdr-80 {
    padding-right: 80px !important;
}

.pdr-42 {
    padding-right: 42px !important;
}

.pdr-40 {
    padding-right: 40px !important;
}

.pdr-38 {
    padding-right: 38px !important;
}

.pdr-35 {
    padding-right: 35px !important;
}

.pdr-30 {
    padding-right: 27px !important;
}

.pdr-25 {
    padding-right: 25px !important;
}

.pdr-43 {
    padding-right: 43px !important;
}

.pdr-16 {
    padding-right: 18px !important;
}

.btn-confirm {
    width: 10vw !important;
}

.card-uploadfile {
    background-color: gainsboro !important;
    width: 80vw !important;
    /* height: 200px !important; */
}

.p-button.p-component.p-fileupload-choose {
    background-color: darkcyan !important;
    border-color: darkcyan !important;
    height: 40px !important;
}

.icon-upload {
    width: 100px !important;
    height: 100px !important;
}

.icon-upload {
    width: 15 0px !important;
    height: 100px !important;
    /* color: rgb(20, 164, 77); */
}

.span-head-select {
    margin-bottom: 10px !important;
}

.right {
    float: right !important;
}

.btn-uploadfile1 {
    background-color: darkcyan !important;
    border-color: darkcyan !important;
    /* height: 40px !important; */
}

.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputAdornedEnd.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    width: 160px !important;
    /* height: 40px !important; */
}

.font-12 {
    font-size: 16px !important;
}

.hight-startime {
    /* height: 30px !important; */
    width: 185px !important;
    height: 90px !important;
}

.hight-stoptime {
    /* height: 30px !important; */
    width: 185px !important;
    height: 90px !important;
}

.date-start {
    width: 400px !important;
}